@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f1f1f1;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100vh;
    /* border: 3px solid #f6f7ed; */
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@layer components {
  .error {
    @apply text-xs text-red-500;
  }
}
